#photo {
    border: 2px solid blue;
}

h1 {
    color: blue;
}

h2 {
    color: grey;
}

#div1 {
    margin: 4px;
}

#div2 {
    margin: 4px;
}

#div3 {
    margin: 4px;
}

#div4 {
    margin: 4px;
}

#div5 {
    margin: 4px;
}